body {
    background-color: orangered;
  }
  .div2 {
    text-align: center;
    color: white;
    background-color: orangered;
    margin: 50px;
    background-color: gray ;
  }
  .h1 {
    margin: 0px;
    padding: 0px;
    
  }
  
  .section1 {
    background-color: white;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    padding: 50px;
  }
  .img1 {
    text-align: center;
    width: 250px;
    height: 250px;
  }
  .div1 {
    background-color: orangered;
  }
  h2 {
    text-align: left;
  }
  
  p {
    text-align: left;
  }
  